*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    --text-color: #ae51f1;
}

html {
    color-scheme: black;
}

.bgimg{
    background-image: url('../src/img/v1010-71c.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    background-attachment: fixed;
}

/* .mainHeader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 10%;
    background-image: url('../src/img/v1010-71c.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
} */

.cantidad{
    position: absolute;
}

.imgLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 2%;
    font-size: 100px;
    color: var(--text-color)
}

.logoImg{
    width: 15%;
}

.linkDonitas{
    list-style: none;
    text-decoration: none;
}

.options-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoCesta:hover{
    cursor: pointer;
}

#nosotros, #contacto, #pedidos{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.782);
    margin: 15%;
    border-radius: 50px;
}

#pedidos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    font-size: 1.5em;
}

#contador{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.782);
    margin: 15%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    font-size: 1.5em;
}

#container{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.782);
    margin: 11%;
    border-radius: 50px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15%;
    width: 80%;
}

#productErr{
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 30px;
    text-align: center;
    color: whitesmoke;
    background-color: darkred;
    box-shadow: 6px 8px 8px darkslategrey;
}

.cestaLogo{
    width: 40px;
    margin-top: -20px;
}

.textCount{
    color: var(--text-color);
}
.nosotros, .pedidos{
    text-align: justify ;
}

.btn-enviar{
    display: flex;
  justify-content: center;
  align-items: center;
}

.enviar{
    margin: 5%;
    width: 15%;
    height: 35%;
    font-size: 1rem;
    background-color: var(--text-color);
    border-radius: 50px;
    color: white;
    font-weight: 700;
}

.text{
    display: flex;
    color: white;
    background-color: rgb(182, 97, 242);
    font-weight: 700;
    border-radius: 10px;
    width: 13%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text-navbar{
    color: var(--text-color);
    text-decoration: none;
    margin: 15%;
}

.options-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.nav{
    gap: 50px;
}

/* class of checkout page */

.carrito{
    margin: 2%;
    font-size: 10px;
    color: var(--text-color)
}

#tableContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#myTable{
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

.donitaIcon{
    border-radius: 10px;
    width: 70px;
}